@charset "utf-8";
/*..............embedded fonts..............*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

/*..............embedded fonts..............*/

/*..............custom fonts..............*/


/*..............custom fonts..............*/

/*..............common styles..............*/
body {scroll-behavior: smooth;  margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; font-size:13px; line-height: normal; font-weight: 300; color:#54788B; overflow-x: hidden; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin:0 0 20px; padding:0; color: #000; }
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:26px;}
h4{ font-size:24px;}
h5{ font-size:20px;}
h6{ font-size:16px;}
p{  margin:0 0 20px; padding:0; }
img{ max-width: 100%;}
a, img{ border:0; text-decoration: none; outline: none;color: #000;}
a, a:link, a:visited, a:focus { color: #fff; outline: none; text-decoration: none; transition:all 0.3s ease 0s;}
a:hover{ text-decoration:none; color: #0083C6;outline: none; transition:all 0.3s ease 0s;}
.body-large { font-size: 20px; line-height: 30px;}
.body-small { font-size: 16px; line-height: 24px;}
input, textarea, select{ font-family: 'Lato', sans-serif; font-weight: normal; font-size: 16px; outline: none;}
input[type="submit"]{ font-family: 'Lato', sans-serif; font-weight: normal; font-size: 16px; transition:all 0.3s ease 0s; outline: none;}
.dark-bg { background-color: #273042;}


/* =========== for placeholder color =========== */
/*
.form-control::-moz-placeholder{color:#505873;opacity:1;}
.form-control:-ms-input-placeholder{color:#505873;}
.form-control::-webkit-input-placeholder{color:#505873;}
*/
/* =========== for placeholder color =========== */

/* --- only use for wordpress (Image alignment) --- */
.alignleft , .alignnone{float:left; margin:0 15px 10px 0;}
.alignright{float:right; margin:0 0 10px 15px;}
.aligncenter{margin:10px auto; display:block;}
/* --- only use for wordpress (Image alignment) --- */

/* =========== Button Styles =========== */
.btn { border: 0; letter-spacing: 0; font-size: 16px; line-height: normal; text-align: center; color: #fff; border-radius: 35px; height: 60px; padding: 12px 25px; 
white-space: normal; background: #0092DD;  text-transform: uppercase; position: relative; cursor: pointer; line-height: 2.4;}
.btn:hover { background: #0083C6; color: #fff;}
.btn.solid-color { background: #f00; color: #fff; }
.btn.border { background:none; color: #0083C6; border: 2px solid #0083C6 !important; }
.btn.rounded { border-radius: 5px;}
.btn.dark-btn { background: #54788B; }
.btn.large-size { /* Your custom Styles */}
.h-auto-btn { height: auto; line-height: 1.6;}
/* =========== Button Styles =========== */


/* =========== checkbox and radio button Styles =========== */

.builder_radiobox ul li label{ font-weight: normal;}
.builder_radiobox ul li input[type="radio"]{ opacity: 0;}
.builder_radiobox ul li input[type="radio"]:empty ~ label{ position:relative; float:left; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; padding: 0 0 0 22px;}
.builder_radiobox ul li input[type="radio"]:empty ~ label:before{ position:absolute; display:block; top:2px; bottom:0; left:0; content:""; width:16px; height:16px; background:url(../images/radiobutton.png) left top no-repeat;}
.builder_radiobox ul li input[type="radio"]:checked ~ label:before{ background:url(../images/radiobutton.png) left bottom no-repeat;}

/* --- checkbox and radio button Styles --- */




/* =========== for spalsh css ===========*/
.splash-bg { height: 100vh; background-repeat: no-repeat; background-position: right center; background-size: auto 100%;}
.splash-bg .row { height: 100vh; align-items: center;}
.splsh-logo-desktop { text-align: center;}
.splsh-logo-mobile { text-align: center;  display: none;}
/* =========== for spalsh css ===========*/

.form-control {  border: 2px solid #ddd; height: 60px; border-radius: 35px; padding: 10px 25px;}
select { background: #fff url(../images/slct-arw.png)no-repeat 95% center; padding-right: 40px !important; -webkit-appearance: none; height: 60px !important;}

.sign-bg { background-image: url(../images/back-design-splash.jpg); background-repeat: no-repeat; background-position: right top; background-size: auto;}

.signup-wrap { text-align: center; max-width: 550px; margin: 0 auto; padding: 30px 0;}
.signup-wrap .sign-logo-mobile { display: none;}
.signup-box { background: #fff; border-radius: 30px; box-shadow: 0 0 20px rgba(0,0,0,0.1); padding: 30px; margin-top: 30px;}
.signup-box h2 { font-weight: 500; color: #0092DD;}
.signup-box p { color: #B2B2B2;}
.signup-box .form-group { margin-bottom: 30px;}
.signup-box .btn { width: 100%; }
.signup-box .btn.guest-btn { background: #54788B;}

.signup-box .cont-link { color: #0083C6 !important; margin: 5px !important; text-decoration: underline; }
.signup-box .left { text-align: left; margin-bottom: 10px !important; margin-top: -20px !important;}
.signup-box .right { text-align: right; margin-bottom: 10px !important; margin-top: -20px !important;}
.signup-box .cont-link:hover { color: #035d8a !important; }

.forget-link { margin: 0;}
.forget-link a { color: #B2B2B2; }
.btm-sign-link { margin: 0;}
.btm-sign-link a { color: #0092DD; font-size: 18px; }

.lft-rt-padd { padding-left: 5%; padding-right: 5%;}
.common-padd { padding-top: 80px; padding-bottom: 80px;}

.grey-bg { background-image: url(../images/back-design-grey.png); background-color: #F5F5F5; background-repeat: no-repeat; background-position: right top; background-size: auto; }


.all-pkgs { text-align: center;}
.all-pkgs .logobox { margin: 0 0 50px;}
.all-pkgs > h4 { font-weight: 300; color: #909090; margin: 0 0 40px;}
.all-pkgs > h4 span.startr { color: #54788B; font-weight: 400;}
.all-pkgs > h4 span.entrprs { color: #0083C6; font-weight: 400;}

.pkg-box-wrap { padding: 0 15px; }
.pkg-box-wrap a.btn { width: 100%; line-height: 2.4; color: #fff;}
.pkg-box { background-color: #0092DD; border-radius: 30px; background-position: right top; background-repeat: no-repeat; background-size: cover; padding: 70px; text-align: center; margin: 0 0 30px;}
.pkg-box h2 { text-transform: uppercase; font-weight: 600; color: #fff; border-bottom: 1px solid #fff; min-height: 66px; padding-bottom: 15px; margin-bottom: 35px;}
.pkg-box h2 small { display: block; font-size: 12px; font-weight: 300; text-transform: capitalize;}
.pkg-box .price { font-size: 36px; color: #fff; font-weight: 600; margin: 0 0 35px;}
.pkg-box h4 { color: #fff;}
.pkg-box ol { margin: 0 auto; padding: 0 0 0 25px; text-align: left; color: #fff; list-style-position: outside; max-width: 80%; min-height: 200px;}
.pkg-box ol li { font-size: 18px; font-weight: 300; margin: 0 0 20px;}
.pkg-box ol li:last-child { margin: 0;}

.pkg-box-wrap.starter .pkg-box { background-color: #54788B; }
.pkg-box-wrap.starter a.btn { background-color: #54788B; }
.pkg-box-wrap.enterprise .pkg-box { background-color: #0083C6; }
.pkg-box-wrap.enterprise a.btn { background-color: #0083C6; }

/* Loader css */
.sweet-loading{ top: 30%; position: absolute; left: 45%; }

/*Menu left bar css*/

.main-menu-lt { padding: 30px 0; background: #fff; height: 100vh; overflow-x: auto;}
/* width */
.main-menu-lt::-webkit-scrollbar { width: 5px; }
/* Track */
.main-menu-lt::-webkit-scrollbar-track { background: rgba(168,198,235,0.3); border-radius:10px; }
/* Handle */
.main-menu-lt::-webkit-scrollbar-thumb { background: #0092DD; border-radius:10px; }
/* Handle on hover */
.main-menu-lt::-webkit-scrollbar-thumb:hover { background: #555; }

.main-menu-lt .logobox { margin: 0 auto 60px; max-width: 140px;}
.user-top-area { padding: 0 15px; text-align: center; margin-bottom: 30px;}
.user-top-area .userimg { margin: 0 auto 20px; width: 75px; height: 75px; border-radius: 50%; overflow: hidden; position: relative;}
.user-top-area h5 { font-size: 14px; font-weight: 600; color: #0092DD; margin: 0;}
.user-top-area h5 small { display: block; font-weight: 300; color: #B2B2B2;}

.lt-menu { margin: 0 0 20px;}
.lt-menu ul { margin: 0; padding: 0; list-style: none;}
.lt-menu ul li { font-size: 16px; font-weight: 300; position: relative;}
.lt-menu ul li:after { content: ''; background: #eee; height: 1px; position: absolute; left: 20px; right: 20px; bottom: 0;}
.lt-menu ul li a { display: block; padding: 28px 35px 28px 20px; color: #54788B; position: relative; cursor: pointer;}
.lt-menu ul li a:after { content: ""; background: url(../images/menu-arw-blue.png) no-repeat; width: 14px; height: 16px;  background-size: 100%;position: absolute; right: 16px; top: 50%; transform: translateY(-50%);}
.lt-menu ul li:hover a:after, .lt-menu ul li.current-menu a:after { background: url(../images/menu-arw-drk-blue.png) no-repeat; background-size: 100%; }
.lt-menu ul li:hover a, .lt-menu ul li.current-menu a { background: linear-gradient(to right, rgba(0,146,221,0.15) , rgba(0,146,221,0.02)); color: #0083C6;}

/*Menu left bar css*/

.mng-full-list { padding: 60px 50px;}
.mng-full-srch .col-margin { margin: 5px 0; }
.srch-wrap { margin: 0 0 40px;}
.srch-wrap:after { content: ''; display: table; clear: both;}
.srch-wrap input[type=text] { width: calc(100% - 70px); float: left;}
.srch-wrap select { width: calc(100% - 70px); float: left;}
.srch-wrap input[type=submit] { background: #0092DD url(../images/srch-ic-white.png) no-repeat center center; background-size: 22px; border: 0; width: 60px; height: 60px; border-radius: 50%; text-indent: -9999px; cursor: pointer; float: right; padding: 0;}
.srch-wrap input[type=button] { background: #0092DD url(../images/close-icon.png) no-repeat center center; background-size: 22px; border: 0; width: 60px; height: 60px; border-radius: 50%; text-indent: -9999px; cursor: pointer; float: right; padding: 0;}

.add-user-btn { margin: 0 0 40px;}
.add-user-btn a.btn { width: 100%; line-height: 2.4; position: relative; color: #fff !important;}
.add-user-btn a.btn:after { content: ''; border: 0; background: #54788B url(../images/add-user-ic-white.png) no-repeat center center; background-size: 28px; width: 60px; height: 60px; border-radius: 50%; position: absolute; right: -2px; top: -1px;}

/* For delete button start */
.delete-user-btn { margin: 0 0 40px;}
.delete-user-btn a.btn { width: 100%; line-height: 2.4; position: relative; color: #fff;}
.delete-user-btn a.btn:after { content: ''; border: 0; background: #54788B url(../images/close-icon.png) no-repeat center center; background-size: 28px; width: 60px; height: 60px; border-radius: 50%; position: absolute; right: -2px; top: -1px;}
/* For delete button end */

.add-adrs a.btn:after { background: #54788B url(../images/ic-address-book.png) no-repeat center center; background-size: 22px;}

.mng-full-table-hdr { background: #fff; text-align: center; border-radius: 30px; padding: 10px 20px; margin: 0 0 20px;}
.mng-full-table-hdr .row { align-items: center;}
.mng-full-table-hdr h6 { margin: 0; color: #0083C6; font-size: 18px; height: 40px; line-height: 40px;}

.mng-full-table-row { background: #fff; padding: 10px 20px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; position: relative;}
.mng-full-table-row .row { align-items: center;}
.mng-full-table .row { align-items: center;}
.border-rt { border-right: 1px solid #ddd;}
.mng-full-table-row h6 {  color: #0083C6; font-size: 18px; margin: 0; display: none;}
.mng-full-table-row p { padding: 10px 0; margin: 0;}
.mng-full-table-row p a { color: #0083C6; }

.mng-full-table .row:nth-child(odd) .mng-full-table-row { background: #F5F5F5;}
.mng-full-table .row:nth-child(2) .mng-full-table-row { border-top: 1px solid #ddd; border-radius: 30px 30px 0 0; }
.mng-full-table .row:last-child .mng-full-table-row { border-bottom: 1px solid #ddd; border-radius: 0 0 30px 30px; }

.mobile-ad-edt-btns { display: none;}
.mobile-ad-edt-btns ul { margin: 0;  padding: 0; list-style: none;}
.mobile-ad-edt-btns ul li { margin: 8px 0;}
.mobile-ad-edt-btns ul li a { display: block; background: #0092DD; width: 35px; height: 35px; text-align: center; line-height: 35px; color: #fff; border-radius: 50%; box-shadow: 0 0 10px rgba(0,0,0,0.25);}

.mng-full-table-row.add-edt { background: none !important; border: 0 !important; padding: 0 !important;}
.add-edt a { display: inline-block; background: #0092DD; width: 40px; height: 40px; text-align: center; line-height: 40px; color: #fff; border-radius: 50%; font-size: 20px;}


.mobile-menu-header { padding: 30px 15px 15px; display: flex; align-items: center; justify-content: space-between; display: none;}
.mobile-menu-header a.back-arw { color: #0083C6; font-size: 20px;}
.back-arw.d-md-none {float: right; width: 20px; height: 20px; margin: 10px; color: #007bff; text-align: center; border: 2px solid; border-radius: 5px; }
.mobile-menu-header a.menu-tgl img { width: 32px;}


.payment-mng-wrap { margin: 0 auto; max-width: 955px; padding: 30px 15px;}
.paymnt-mng-hdr { margin: 0 0 30px; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; background: #fff; padding: 30px; border-radius: 30px; box-shadow: 0 0 15px rgba(0,0,0,0.10);}
.paymnt-mng-hdr .blnc { display: flex; align-items: center;}
.paymnt-mng-hdr .blnc .ic-box { width: 75px;  height: 75px; background: #0092DD; border-radius: 50%; margin-right: 25px; display: flex; align-items: center; justify-content: center; }
.paymnt-mng-hdr .blnc .ic-box img { width: 38px;}
.paymnt-mng-hdr .blnc h4 { margin: 0; font-size: 18px; color: #54788B;}
.paymnt-mng-hdr .blnc h4 strong { font-size: 30px; color: #0092DD; vertical-align: middle;}

.paymnt-mng-hdr .rchrg-btn a { min-width: 250px;}
.paymnt-mng-hdr .rchrg-btn a svg { font-size: 22px; vertical-align: middle;}

.mng-rt { border: 0 !important; background: none !important; border-radius: 0 !important; padding: 0 !important;}


.dwnld-btn { height: 50px; line-height: 1.8; width: 100%; background: #54788B;}
.pay-btn { height: 50px; line-height: 1.8; width: 100%; }

.invoice-main-area {  background: #fff; padding: 30px; border-radius: 30px; box-shadow: 0 0 15px rgba(0,0,0,0.10); }
.inv-top-info { border-bottom: 1px solid #ccc; padding-bottom: 20px; margin: 0 0 30px;}
.inv-top-info h6, .inv-top-info p { margin: 0 0 10px;}
.inv-option a { min-width: 200px;}

.custom-brdcrmb { margin-top: 30px; padding: 0 30px;}
.custom-brdcrmb .breadcrumb { background: none;}
.custom-brdcrmb .breadcrumb li { font-size: 14px; color: #909090;}
.custom-brdcrmb .breadcrumb li a {  color: #B2B2B2; font-weight: 300;}
.custom-brdcrmb .breadcrumb li.active { font-weight: 400;}

.usr-mng-form { max-width: 850px;}
.usr-mng-form .form-group { margin-bottom: 30px;}
.usr-mng-form label { font-size: 18px; color: #0083C6;}
.usr-mng-form .btn { width: 100%; text-transform: capitalize;}
.usr-mng-form .cancl-btn { background: #54788B;}

.textEllips {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
 

.user-del-optn { text-align: center; padding: 20px 0;}
.user-del-optn h4 { color: #0083C6;}
.dlt-optn-ftr a.btn { min-width: 180px; line-height: 1.8; height: auto; margin: 0 5px 10px;}


.statistic-wrap { padding: 60px 50px;}
.statistic-srch { margin: 0 0 30px;}
.statistic-graph { background: #fff; border-radius: 20px; padding: 30px; text-align: center;}

.statistic-srch input[type=submit] { background: #0092DD url(../images/srch-ic-white.png) no-repeat center center; background-size: 22px; border: 0; width: 60px; height: 60px; border-radius: 50%; text-indent: -9999px; cursor: pointer; float: right; padding: 0; margin-top: 28px;}
.statistic-srch label { color: #0083C6}

.custom-control-label::before { background-color: #fff; border: 1px solid #ddd; width: 20px; height: 20px; top: 1px;}
.custom-control-label::after { left: -22px; background-size: 70% 70%;}


.recrdng-list { background: #fff; padding: 10px 20px; border-radius: 25px; margin: 0 0 20px; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.recrdng-list .recrdng-list-lt { display: flex; align-items: center;}
.recrdng-list .recrdng-list-lt .icbox { width: 45px; margin-right: 30px;}
.recrdng-list .recrdng-list-lt h5 { margin: 0; color: #54788B;}

.recrdng-list .recrdng-list-rt ul { margin: 0; padding: 0; list-style: none; display: flex; align-items: center;}
.recrdng-list .recrdng-list-rt ul li { margin-left: 30px;}
.recrdng-list .recrdng-list-rt ul li a { display: flex; align-items: center; justify-content: center; background: #0083C6; width: 45px; height: 45px; border-radius: 50%; color: #fff; font-size: 20px; text-align: center; }
.recrdng-list .recrdng-list-rt ul li a.dark-btn { background: #54788B; }


.about-mng-form label { font-size: 18px; color: #0083C6;}
.upload-box { background: #fff; height: 400px; border-radius: 20px; border: 2px solid #ddd;}

/*Talk-box*/

.main-menu-lt-col-2 .main-menu-lt { background: #eee; box-shadow: 5px 0 5px rgba(0,0,0,0.08); }

.inv-code-top { padding: 0 15px; margin: 0 0 30px;}
.inv-code-top h5 { font-size: 16px; color: #0083C6;}
.inv-code-form { padding: 0 0 30px; border-bottom: 1px solid #fff;}
.inv-code-form input[type=text] { text-align: center; margin: 0 0 15px; font-weight: 300;}
.inv-code-form button { text-transform: capitalize; font-size: 16px; width: 100%;}
.main-menu-lt-col-2 .main-menu-lt > h5, .main-menu-lt-col-3 .main-menu-lt > h5 { font-size: 16px; color: #0083C6; padding: 0 15px;}
.main-menu-lt-col-2 .main-menu-lt a, .main-menu-lt-col-3 .main-menu-lt a { padding: 16px 30px 16px 15px;}
.main-menu-lt-col-2 .main-menu-lt li:after { background: #d0d0d0; }
.main-menu-lt-col-2 .main-menu-lt li a:after { width: 10px; height: 12px;}
.main-menu-lt-col-2 .main-menu-lt li:hover a, .main-menu-lt-col-2 .main-menu-lt li.current-menu a { background: linear-gradient(to right, rgba(178,178,178,0.5) , rgba(178,178,178,0.05)); color: #fff;}

.main-menu-lt-col-3 .main-menu-lt li a:after { content: "\f095"; font-weight: 900; font-family: "Font Awesome 5 free"; background: none; font-size: 12px; color: #0083C6;}
.main-menu-lt-col-3 .main-menu-lt li:hover a:after, .main-menu-lt-col-3 .main-menu-lt li.current-menu a:after { content: "\f095"; font-weight: 900; font-family: "Font Awesome 5 free"; background: none; font-size: 12px; color: #54788B; }

.col-xl-2.col-lg-3.p-0.main-menu-lt-col.open { display: block; }

.confrnc-outer .wait-list { text-align: center; padding: 20% 0;}
.confrnc-outer .wait-list h2 { color: #0083C6; margin: 0; padding-top: 30px;}
.confrnc-outer .wait-list h2 small { font-weight: 200; display: block; font-size: 90%; color: #909090;}

.call-req-row { background: #fff; padding: 20px; border-radius: 20px; margin: 0 0 20px; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.call-req-row .call-req-lt { display: flex; flex-wrap: wrap; align-items: center;}
.call-req-row .call-req-lt .img-box { width: 75px; height: 75px; border-radius: 50%; overflow: hidden; margin-right: 20px;}
.call-req-row .call-req-lt h5 { margin: 0; color: #54788B; font-size: 18px;}
.call-req-row .call-req-rt a.btn { text-transform: capitalize; margin-left: 10px; min-width: 180px; padding: 10px 15px;}
.call-req-row .call-req-rt a.btn img { width: 26px; margin-right: 5px;}

.main-menu-lt-col-2 .main-menu-lt li a span.user-img, .main-menu-lt-col-3 .main-menu-lt li a span.user-img { display: inline-block; vertical-align: middle; width: 30px; height: 30px; border-radius: 50%; overflow: hidden; margin-right: 10px; position: relative;}

.sdbar-srch { padding: 0 15px 15px; position: relative;}
.sdbar-srch input[type="submit"] { background: url(../images/srch-ic-blue.png) no-repeat; width: 23px; height: 25px; border: 0; text-indent: -9999px; position: absolute; top: 30px; transform: translateY(-50%); right: 30px; cursor: pointer;}

/*Talk-box*/

.confrnc-outer { padding: 30px 40px;}
.confrnc-box { position: relative;}

.confrnc-box .archive-btn { position: absolute;  top: calc(60.5vw * .6); margin: 0; z-index: 2; display: flex; }
.confrnc-box .archive-btn a.btn { background: #54788B; color:#fff; width: 40px; padding: 10px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-left: 10px; text-transform: capitalize; }
.confrnc-box .archive-btn a.btn:after { display: none;}

.confrnc-box .add-user-btn { position: absolute;  top: calc(60.5vw * .6); right: 0; margin: 0; z-index: 2; display: flex; }
.confrnc-box .add-user-btn a.btn { background: #54788B; color:#fff; width: 40px; padding: 10px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-left: 10px; text-transform: capitalize; }
.confrnc-box .add-user-btn a.btn:after { display: none;}
.confrnc-box .add-user-btn a.btn.red { background: #f00;}
.conf-mng-table-wrap h5 { color: #0083C6;}

ul.conf-snpsht { margin: 0; padding: 0; list-style: none; }
ul.conf-snpsht li { display: flex; align-items: center; background: #fff; padding: 15px; margin: 0 0 20px; border-radius: 10px; }
ul.conf-snpsht li span.user-img { width: 50px; height: 50px; border-radius: 50%; overflow: hidden; position: relative;}
ul.conf-snpsht li h6 { margin: 0; padding-left: 15px; color: #54788B;}
ul.conf-snpsht li h6 span { display: block; padding-top: 3px;}


.upgrd-mng-wrap { padding: 30px 40px;}
.upgrd-mng-wrap > .row { justify-content: center;}
.pkg-box-wrap.upgrd .pkg-box { background: #fff;  border: 1px solid #ddd;}
.pkg-box-wrap.upgrd .pkg-box h2 { color: #0092DD; border-color: #0092DD; }
.pkg-box-wrap.upgrd .price { color: #54788B;}
.pkg-box-wrap.upgrd h4 { color: #0092DD;}
.pkg-box-wrap.upgrd ol { color: #909090; max-width: 90%;}


.adm-usr-lt { background: #fff; padding: 20px; border-radius: 35px; margin: 0 0 15px;}
.adm-usr-rt { margin: 0 0 13px;}
.adm-usr-rt .btn { text-transform: capitalize;}

.contct-reslt { background: #fff; padding: 20px; border-radius: 20px; text-align: center;}
.contct-reslt .imgbox { margin: 0 auto 30px; width: 200px; height: 200px; border-radius: 50%; overflow: hidden; position: relative;}

.admn-chart-box { background: #fff; border-radius: 20px; padding: 30px; border: 1px solid #ddd; text-align: center;}

.App-main { position: relative; width: 100%; height: calc(58vw * .6); margin: 0; border: 0; background: #199CE0; border-radius: 15px; }

.App-control-container {  display: flex; align-items: center; justify-content: center; padding: 20px 0;}
.App-control-container.hidden { display: none;}

.App-control-container .ots-video-control { width: 50px; height: 50px; margin: 0 10px; border: 0; border-radius: 50%; background-position: center; background-color: #0092DD; background-repeat: no-repeat; cursor: pointer; background-size: 18px; position: relative;}
.App-control-container .ots-video-control:after { content: ''; background: rgba(0,0,0,0.8); color: #fff; font-size: 10px; padding: 3px 6px; line-height: 1; border-radius: 3px; position: absolute; left: 50%; transform: translateX(-50%); top: -19px; opacity: 0; min-width: 90px; text-align: center; }
/* .App-control-container .ots-video-control:after { content: ''; background: rgba(0,0,0,0.8); color: #fff; font-size: 12px; padding: 3px 6px; line-height: 1; border-radius: 3px; position: absolute; left: 50%; transform: translateX(-50%); top: -19px; opacity: 0; min-width: 90px; text-align: center; } */
.App-control-container .ots-video-control:hover:after { opacity: 1;}

.App-control-container .ots-video-control.audio { background-image: url(https://assets.tokbox.com/solutions/images/icon-mic.png);}
.App-control-container .ots-video-control.audio:after { content: 'Mute/Unmute';}

.App-control-container .ots-video-control.audio.muted { background-image: url(../images/icon-muted-mic.png)!important; border: 2px solid #0092DD;  background-color: #fff;}

.App-control-container .ots-video-control.video { background-image: url(https://assets.tokbox.com/solutions/images/icon-video.png);}
.App-control-container .ots-video-control.video:after { content: 'Video On/Off';}

.App-control-container .ots-video-control.video.muted { background-image: url(../images/icon-no-video.png)!important; border: 2px solid #0092DD;  background-color: #fff;}
/*should chenge end icon*/
.App-control-container .ots-video-control.end-call { background-image: url(../images/ic-end-call.png); background-color: #CF0000; transform: rotate(95deg);}
.App-control-container .ots-video-control.end-call:after { content: 'End Call'; transform: rotate(-95deg); top: inherit; left: -55px; bottom: 13px;}

.App-control-container .ots-video-control.text-chat { background-image: url(../images/ic-chat.png);}
.App-control-container .ots-video-control.share-screen { background-image: url(../images/shr-screen.png);}
.App-control-container .ots-video-control.share-screen.active { background-image: url(../images/stp-shr-screen.png) !important; border: 2px solid #0092DD;  background-color: #fff; }
.App-control-container .ots-video-control.share-screen:after { content: 'Share Screen';}
.App-control-container .ots-video-control.share-screen.active:after { content: 'Stop Sharing';}

.App-control-container .ots-video-control svg { color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 20px;}
.App-control-container .ots-video-control.full-scr-open:after { content: 'Full Screen';}
.App-control-container .ots-video-control.full-scr-close:after { content: 'Full Screen Off';}
.App-control-container .ots-video-control.full-scr-close { background-color: #fff; border: 2px solid #0092DD;}
.App-control-container .ots-video-control.full-scr-close svg { color: #0092DD;}


.App-control-container .ots-video-control.chat-open:after { content: 'Chat Open';}
.App-control-container .ots-video-control.chat-close:after { content: 'Chat Close';}
.App-control-container .ots-video-control.chat-close { background-color: #fff; border: 2px solid #0092DD;}
.App-control-container .ots-video-control.chat-close svg { color: #0092DD;}

.ots-send-message-box .ots-icon-check:after {content: 'Send';  background: rgba(0,0,0,0.8); color: #fff; font-size: 10px; padding: 3px 6px; line-height: 1; border-radius: 3px; position: absolute; left: 50%; transform: translateX(-50%); top: -19px; opacity: 0; text-align: center;}    
.ots-send-message-box .ots-icon-check:hover:after { opacity: 1;}

.App-mask { width: 100%; height: 100%; position: relative; color: white; background: rgba(27, 134, 144, 0.4); display: flex; justify-content: center; align-items: center; padding: 10px; }
.App-mask .react-spinner { position: absolute;}
.App-mask .message { font-weight: bold; font-size: 30px; }
.App-mask .message.with-spinner { position: absolute; top: 55%; }
.App-mask .message.button { border: 1px dashed #0092DD; color: #0092DD; padding: 20px 40px; border-radius: 6px; cursor: pointer;}

.App-video-container { position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; border-radius: 15px; overflow: hidden;}
.App-video-container .video-container { width: 100%; height: 100%; display: flex;}
.App-video-container .video-container.small { position: absolute; top: 20px; right: 20px; width: 160px; height: 96px; border: 1px solid #fcba00; z-index: 2;}
.App-video-container .video-container.small.left { left: 20px; border: 1px solid #00fcc2;}
.App-video-container .video-container.hidden { display: none;}
.App-video-container .video-container.active-2 .OT_subscriber { width: 50%;}
.App-video-container .video-container.active-3 .OT_subscriber { width: calc(100%/3) !important;}
.App-video-container .video-container.active-4 { flex-wrap: wrap;}
.App-video-container .video-container.active-4 .OT_subscriber { width: 50% !important; height: 50% !important;}
.OT_subscriber.OT_audio-only { display: none !important; }
.ots-video-control.circle.share-screen.hidden { display: none; }

.all-users-list { position: absolute; background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)); top: 0; left: 0; right: 0; padding: 20px; z-index: 9; display: flex; flex-wrap: wrap; justify-content: center; border-radius: 15px; opacity: 0;}
.confrnc-box:hover .all-users-list { opacity: 1; transition:all 0.3s ease 0s;}
.all-users-list ul { margin: 0 10px 10px; padding: 0; list-style: none; text-align: center; width: 95px; }
.all-users-list ul li .thumb-main { position: relative; }
.all-users-list ul li .thumb-main .userimg { width: 75px; height: 75px; margin: 0 auto; border-radius: 50%; overflow: hidden; background: #0092DD; display: flex;    align-items: center; justify-content: center; font-size: 30px; color: #fff; text-transform: uppercase;}
.all-users-list ul li .thumb-main .userimg span.vol-up-hvr { display: flex; width: 75px; height: 75px; margin: 0 auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0; align-items: center; justify-content: center; z-index: 1; color: #fff; background: rgba(0,0,0,0.5); border-radius: 50%; font-size: 24px; opacity: 0;}
.all-users-list ul li .thumb-main .userimg span.vol-off-hvr { display: flex; width: 75px; height: 75px; margin: 0 auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0; align-items: center; justify-content: center; z-index: 1; color: #fff; background: rgba(0,0,0,0.5); border-radius: 50%; font-size: 24px; opacity: 0;}

.active-call-cirlce { background: #8af358; width: 10px; height: 10px; border-radius: 50%; position: absolute; right: 12px; top: 12px; }
.active-call-cirlce2 { background: #f5cb42; width: 10px; height: 10px; border-radius: 50%; position: absolute; right: 12px; top: 12px; }
.speaking { color: #0092DD; background: #fff; width: 20px; height: 20px; line-height: 20px; font-size: 12px; border-radius: 50%; text-align: center; position: absolute;
 left: 8px; top: 7px;}
 .ic-share { color: #0092DD; background: #fff; width: 30px; height: 20px; line-height: 20px; font-size: 12px; border-radius: 10%; text-align: center; position: absolute;
 left: 0; right: 0; top: 58px; margin: 0 auto;}

.all-users-list ul li .thumb-main .clients-name { color: #fff; padding-top: 3px;}
.all-users-list ul li .thumb-main .clients-name small { display: block; text-transform: uppercase; font-size: 8px;}
.all-users-list ul li .thumb-main .users-info { background: rgba(255,255,255,0.9); padding: 5px; border-radius: 5px; width: 150px; position: absolute; left: 50%;   transform: translateX(-50%); display: none; z-index: 5;} 
.all-users-list ul li .thumb-main:hover .users-info { display: block;}
.all-users-list ul li .thumb-main .users-info ul { margin: 0; width: auto;}
.all-users-list ul li .thumb-main .users-info ul li { padding: 4px; color: #0092DD; text-align: center; }
.all-users-list ul li .thumb-main .users-info ul li button { background: #0092DD; border: 0; color: #fff; padding: 5px 15px; line-height: 1; border-radius: 12px; cursor: pointer; }
.all-users-list ul li .thumb-main .users-info ul li.vol-up-hvr, .all-users-list ul li .thumb-main .users-info ul li.vol-off-hvr { cursor: pointer; font-size: 20px;}

.ots-hidden { display: none;}

#messagesHolder { height: 110px; overflow-y: auto; background: rgba(255,255,255,0.5); border-radius: 15px; padding: 10px; color: #333; }
.ots-messages-alert { padding: 0 0 5px;}
.ots-message-item .ots-user-name-initial { font-weight: 600; margin: 0 0 4px; width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 50%; display: flex; align-items: center; justify-content: center; background: #eee; font-size: 20px; text-transform: uppercase; float: left; }
.ots-message-item .ots-item-timestamp { margin: 0 0 3px 50px; font-size: 12px; font-weight: 600; padding-top: 10px;}
.ots-message-item .ots-item-timestamp span { font-size: 10px; font-weight: 400; color: #666;}
.ots-item-text { clear: both; padding-left: 50px;}
.ots-item-text span { display: block; }
.ots-item-text span a { color: blue; }

.ots-send-message-box { position: relative; margin-top: 10px;}
.ots-send-message-box input[type=text] { width: 100%; padding: 12px; border-radius: 35px; border: 1px solid #ccc; padding-right: 50px; padding-left: 50px;}
.ots-send-message-box button#sendMessage { background: #0092DD url(../images/send-button-chat.png) no-repeat center center; border: 0; width: 45px; height: 45px; position: absolute; right: 0; top: 0; border-radius: 50%; background-size: 20px; cursor: pointer; }
.ots-send-message-box .ots-character-count { color: #000; font-size: 12px; padding-top: 3px; }

.OT_widget-container { background-color: rgba(0, 0, 0, 0.5) !important; }
.OT_video-poster { background-color: #0092DD;}

.app-chat-outer-wrap { position: relative; height: 330px; }
.app-chat-outer-wrap .chat-attach { position: absolute; bottom: 165px; width: 45px; height: 44px; background: #0092DD; color: #fff; border-radius: 25px 0 0 25px; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.app-chat-outer-wrap .chat-attach input[type="file"] { opacity: 0; position: absolute; width: 100%; height: 100%; z-index: 1; cursor: pointer;}

.chat-upload { position: relative; width: 130px; top: 5px; }
.chat-upload button { position: absolute; z-index: 2; left: 50%; top: 50%; transform: translate(-50%, -50%); border: 0; background-color: #007bff; border-radius: 5px; cursor: pointer; font-size: 18px; color: #fff;}
.chat-upload .imgbox { background: #eae7e7; width: 130px; height: 130px; border-radius: 5px; position: relative; overflow: hidden; box-shadow: 0 0 5px rgba(0,0,0,0.1); border: 3px solid #fff; }
.chat-upload .imgbox:after { content: ''; background: rgba(0,0,0,0.2); position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.chat-upload .imgbox img { width: 100%; height: 100%; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.chat-upload .progress { position: absolute; right: -100%; top: 50%; transform: translateY(-50%); width: 95%; height: 10px; }


.inv-code { background: #fff; padding: 15px 30px; border-radius: 10px; margin-bottom: 15px; text-align: center;}
.inv-code strong { font-weight: 700; text-transform: uppercase; }
.spinner { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index:2; }

.displaynone { display: none; }

.__react_component_tooltip { font-size: 12px; line-height: 1.2;}

.mob-user-list-ic { position: absolute; top: 20px; right: 20px; background: #fff; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; text-align: center; display: none; }

.modal-adrs-book {  background: #eee; padding: 10px; border-radius: 10px; margin: 0 0 10px;}


.mob-full-conf.col-xl-12 .App-main, .mob-full-conf.full-src-opn-chat .App-main { height: calc(68vw * .56); }
.mob-full-conf.col-xl-12 .App-control-container, .mob-full-conf.full-src-opn-chat .App-control-container { position: absolute; left: 0; right: 0; bottom: 0; z-index: 9;}
.mob-full-conf.col-xl-12 .confrnc-box .add-user-btn, .mob-full-conf.full-src-opn-chat .confrnc-box .add-user-btn {  right: 20px;  top: calc(60.5vw * .56); z-index: 11;}
.mob-full-conf.col-xl-12 .confrnc-box .archive-btn, .mob-full-conf.full-src-opn-chat .confrnc-box .archive-btn { top: calc(60.5vw * .56); z-index: 11;}

.mob-full-conf.full-src-opn-chat { max-width: 80%; flex: 0 0 80%;}
.mob-full-conf.full-src-opn-chat .app-chat-outer-wrap { position: fixed; right: 0; top: 0; height: 100%; width: 20%; padding: 30px 40px 15px 0; z-index: 9; overflow-y: auto;}
.mob-full-conf.full-src-opn-chat .app-chat-outer-wrap #messagesHolder { height: calc(80vh - 44px);}
.mob-full-conf.full-src-opn-chat .app-chat-outer-wrap .chat-attach { bottom: inherit; position: relative; margin-top: 10px; width: 85px; border-radius: 25px;}
.mob-full-conf.full-src-opn-chat .app-chat-outer-wrap .ots-send-message-box input[type=text] { padding-left: 20px;}

/*Tokbox END*/

/* Toast */
.fade:not(.show) { display: none; }
.toast-class { position: absolute; top: 10px; right: 0px; background: #0083C6; color: #fff; border-radius: 5px; padding: 10px; z-index: 9999; }
.toast-class .toast-header { font-weight: 500; }
.toast-class .toast-body { padding-top: 8px; }
.toast-class button { text-shadow: none; cursor: pointer; background: #fff; width: 20px; height: 20px; text-align: center; line-height: 1; border-radius: 50%; opacity: 1;
 font-size: 14px; color: #007bff; }
 
 /* for intercom style*/
 .intercom-launcher { background-color: #007bff; }



.mob-partcpt-list .all-users-list { display: flex; flex-wrap: wrap; opacity: 1; background: none; justify-content: flex-start; position: relative;  padding: 0; }
.mob-partcpt-list .all-users-list ul { width: 47%; margin: 0 6px 12px; padding: 10px; text-align: left; background: #f1f1f1;}
.mob-partcpt-list .all-users-list ul li .thumb-main .userimg { margin: 0 0 10px;  width: 100%; height: auto; font-size: 14px; background: none; display: flex; align-items: center; justify-content: space-between; border-radius: 0; color: #0092DD; }
.mob-partcpt-list .all-users-list ul li .thumb-main .userimg .active-call-cirlce { position: relative; right: inherit; top: inherit; margin-right: 10px; }
.mob-partcpt-list .all-users-list ul li .thumb-main .userimg .active-call-cirlce2 { position: relative; right: inherit; top: inherit; margin-right: 10px; }
.mob-partcpt-list .all-users-list ul li .thumb-main .userimg .speaking { position: relative; left: inherit; top: inherit; }
.mob-partcpt-list .all-users-list ul li .thumb-main .userimg .ic-share { position: relative; top: inherit; right: inherit; }

.mob-partcpt-list .all-users-list ul li .thumb-main .clients-name { color: #000; font-weight: 500; }
.mob-partcpt-list .all-users-list ul li .thumb-main .users-info { display: block; position: relative; width: auto; left: inherit; right: inherit; transform: none; background: none; border-radius: 0; padding: 5px 0; }
.mob-partcpt-list .all-users-list ul li .thumb-main .users-info ul { padding: 0; }
.mob-partcpt-list .all-users-list ul li .thumb-main .users-info ul li { text-align: left; padding: 0 0 4px; }


.thankyou-box{ height: 200px; width: 300px; padding: 45px; margin: 0 auto; font-size: 24px; font-weight: bold; text-align: center;background-color: white; border-radius: 30px; }
.center-screen{ position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* alert confirm message */
.react-confirm-alert-overlay {
    background: rgba(0, 20, 50, .5) !important;
    z-index:10000 !important;
}

.react-confirm-alert-body {
text-align: center !important;
font-weight: 500 !important;
}

.react-confirm-alert-button-group {
justify-content: center !important;
}

.react-confirm-alert-button-group > button {
background: #007bff !important;
}

/*Media Query css*/

@media only screen and ( min-width:1600px ) {
    
    
    
}

@media only screen and ( max-width:1599px ) {
    .pkg-box { padding: 30px;}
    .pkg-box ol { max-width: 100%;}

    .main-menu-lt { padding: 20px 0;}
    
    .lt-menu ul li { font-size: 13px;}
    .lt-menu ul li a { padding: 16px 30px 16px 15px;}
    
    .inv-code-form button { font-size: 14px; padding: 10px 15px;}
    
    .call-req-row .call-req-lt h5 { font-size: 16px;}
    .call-req-row .call-req-rt a.btn { min-width: 160px;}

    .btn { font-size: 14px; height: 42px; padding: 11px 20px; line-height: normal; }
    .form-control { height: 42px; padding: 6px 15px; line-height: 1.3;}
    select.form-control { height: 42px !important;}

    .main-menu-lt-col-2 .main-menu-lt a, .main-menu-lt-col-3 .main-menu-lt a {  padding: 10px 30px 10px 15px; }

    .inv-code-top { margin: 0 0 15px; }
    .inv-code-form { padding: 0 0 15px; }

    .add-user-btn a.btn:after { background-size: 20px; width: 42px; height: 42px; z-index: 11;}
    .add-user-btn a.btn { line-height: 1.4;}

    .mng-full-table-hdr h6 { font-size: 16px; height: 35px; line-height: 35px; }
    .mng-full-table-row p { padding: 6px 0; }
    .add-edt a { width: 35px; height: 35px; line-height: 35px; font-size: 15px; }
    

    .srch-wrap input[type=submit], .srch-wrap input[type=button] { background-size: 18px; width: 42px; height: 42px; }

    .confrnc-box { }

    .pkg-box-wrap a.btn { line-height: 1.6; }
	
}

@media only screen and ( max-width:1359px ) {
    .call-req-row .call-req-lt { padding: 10px 0;}
}

@media only screen and ( max-width: 1199px ) {
    
    .mng-full-list { padding: 60px 15px;}
    
    .mng-full-table-hdr h6 { font-size: 14px;}
    
    .pkg-box-wrap.upgrd { margin: 0 0 30px;}


    .main-menu-lt-col { display: none; position: fixed; left: 0; top: 0; bottom: 0; z-index: 99; max-width: 320px;}
    .mobile-menu-header { display: flex;}

    .main-menu-lt-col-2 { display: none;}

    .main-menu-lt.conf-list-mobile { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; background: rgba(255, 255, 255, 0.9);}
    .main-menu-lt.conf-list-mobile h5 { font-size: 16px; color: #0083C6; padding: 0 15px; margin: 0 0 10px; }

    .mob-full-conf { max-width: 100%; flex: 0 0 100%; }
    .confrnc-outer { padding: 30px 15px;  }

    .App-main { height: calc(100vw * .6); }
    .confrnc-box .add-user-btn, .confrnc-box .archive-btn { top: calc(103.5vw * .6); z-index: 11; }

    .all-users-list, .confrnc-box:hover .all-users-list {  display: none;  }
    .mob-user-list-ic { display: block; z-index: 2; }
    .mob-partcpt-list .all-users-list { display: flex; flex-wrap: wrap; opacity: 1; background: none; justify-content: flex-start; position: relative;  padding: 0; }
    .mob-partcpt-list .all-users-list ul { width: 47%; margin: 0 6px 12px; padding: 10px; text-align: left; background: #f1f1f1;}
    .mob-partcpt-list .all-users-list ul li .thumb-main .userimg { margin: 0 0 10px;  width: 100%; height: auto; font-size: 14px; background: none; display: flex; align-items: center; justify-content: space-between; border-radius: 0; color: #0092DD; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .userimg .active-call-cirlce { position: relative; right: inherit; top: inherit; margin-right: 10px; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .userimg .active-call-cirlce2 { position: relative; right: inherit; top: inherit; margin-right: 10px; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .userimg .speaking { position: relative; left: inherit; top: inherit; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .userimg .ic-share { position: relative; top: inherit; right: inherit; }

    .mob-partcpt-list .all-users-list ul li .thumb-main .clients-name { color: #000; font-weight: 500; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .users-info { display: block; position: relative; width: auto; left: inherit; right: inherit; transform: none; background: none; border-radius: 0; padding: 5px 0; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .users-info ul { padding: 0; }
    .mob-partcpt-list .all-users-list ul li .thumb-main .users-info ul li { text-align: left; padding: 0 0 4px; }

    .pkg-box { padding: 20px; }
    .pkg-box h2 { margin-bottom: 15px; font-size: 24px; }
    .pkg-box .price { font-size: 30px; margin: 0 0 15px; }
    .pkg-box ol li { font-size: 15px;  margin: 0 0 10px; }


    
}


@media only screen and ( max-width: 991px ) {
    .splash-bg { background-size: cover;}
    .splsh-logo-desktop { display: none;}
    .splsh-logo-mobile { display: block;}  
    
    .signup-wrap .sign-logo-desktop { display: none;}
    .signup-wrap .sign-logo-mobile { display: block;}
    
    .pricing-wrap-outer { padding-left: 0; padding-right: 0; overflow: hidden;}
    .pricing-wrap-outer .col-md-12 { padding: 0;}
    
    .mng-full-list { padding: 20px 15px;}
    
    .adm-usr-rt .add-edt { margin-bottom: 15px;}
    
    .admin-col-lt { display: block;}

    .modal-adrs-book .row.pt-2.pb-2 .col-md-8, .modal-adrs-book .row.pt-2.pb-2 .col-md-4, .modal-adrs-book .srch-row .col-md-3, .modal-adrs-book .srch-row .col-md-6 { flex: 0 0 100%; max-width: 100%; }
    .modal-adrs-book .srch-row .col-md-3, .modal-adrs-book .srch-row .col-md-6 {  margin-bottom: 10px; }
    .modal-adrs-book .mng-full-table-hdr h6 { font-size: 13px; line-height: 16px; word-break: break-word; display: flex; align-items: center;  }
    
    .pkg-box-wrap { padding: 0 10px; }
    .pkg-box { padding: 15px; }

    .app-chat-outer-wrap a.back-arw { color: #0092DD; font-size: 20px; margin-bottom: 10px; display: none; }

    .confrnc-box { height: 100vh; }
    .mob-full-conf.col-xl-12 .App-main, .mob-full-conf.full-src-opn-chat .App-main { height: 75%; }
    .mob-full-conf.col-xl-12 .confrnc-box .add-user-btn, .mob-full-conf.full-src-opn-chat .confrnc-box .add-user-btn { right: 0;  top: 77%; z-index: 11;}
    .mob-full-conf.col-xl-12 .confrnc-box .archive-btn, .mob-full-conf.full-src-opn-chat .confrnc-box .archive-btn { top: 77%; z-index: 11; }

    .mob-full-conf.full-src-opn-chat .app-chat-outer-wrap { background: #eee; right: 0; left: 0;  width: 100%; padding: 15px; }
    .mob-full-conf.full-src-opn-chat .app-chat-outer-wrap a.back-arw { display: block; }

    .confrnc-outer { padding: 0 15px 30px; }

    .confrnc-box .archive-btn { top: calc(88.5vw * .6); }
    .confrnc-box .add-user-btn { top: calc(88.5vw * .6); right: 12px; }
     
}

@media only screen and ( max-width: 767px ) {
    
    .all-pkgs > h4 { font-size: 14px;}
    
    .pkg-box { padding: 30px 10px;}
    .pkg-box h2 { font-size: 26px;}
    .pkg-box .price { font-size: 30px; margin: 0 0 15px;}
    .pkg-box h4 { font-size: 20px;}
    .pkg-box ol li { font-size: 14px; font-weight: 300; margin: 0 0 10px;}
    
    .border-rt { border-right: 0;}
    
    .mng-full-table-hdr { display: none;}
    .mng-full-table-row.add-edt { display: none;}
    .mng-full-table .row:nth-child(odd) .mng-full-table-row { background: #fff;}
    .mng-full-table .row:nth-child(2) .mng-full-table-row, .mng-full-table .row:last-child .mng-full-table-row { border-radius: 20px;}
    .mng-full-table-row { border-radius: 20px; margin: 0 18px 20px 0;}
    .mng-full-table-row h6 { display: block;}
    .mobile-ad-edt-btns { display: block; position: absolute; right: -18px;}
    
    .paymnt-mng-hdr { justify-content: center; padding: 20px;}
    .paymnt-mng-hdr .blnc { width: 100%; justify-content: center; margin: 0 0 15px;}
    .payment-mng-wrap .mng-full-table-row { margin-right: 0;}
    
    .paymnt-mng-hdr .rchrg-btn { width: 100%; text-align: center;}
    .paymnt-mng-hdr .rchrg-btn p.text-right { text-align: center !important;}
    
    .inv-option { text-align: center;}
    .inv-option a { margin: 0 0 10px;}
    
    .orga-mng .mng-full-table-row { margin-right: 0;}
    .orga-mng a.btn { margin-bottom: 20px;}
    
    .recrdng-list .recrdng-list-lt .icbox { margin-right: 10px;}
    .recrdng-list .recrdng-list-rt ul li { margin-left: 10px;}
    .recrdng-list .recrdng-list-rt ul li a { width: 45px; height: 45px; font-size: 16px;}
    
    
    .call-req-row { text-align: center;}
    .call-req-row .call-req-lt .img-box { margin: 0 auto 20px;}
    .call-req-row .call-req-rt a.btn { min-width: inherit; width: 100%; margin-top: 10px;}
    
    .adm-usr-rt .add-edt { margin-right: 0; display: block !important;}
    .adm-usr-rt .add-edt .row { display: flex;}
    .adm-usr-rt .add-edt .row .col-md-4 { width: 33.333333%;}
    
    .mng-full-table-hdr.admn-usr-hdr { display: block;}
    
    .admin-report .mng-full-table-row { margin-right: 0;}

    .mob-partcpt-list .all-users-list ul { width: 100%; margin: 0 0 12px; }

    .modal-adrs-book .mng-full-table-row h6 {  font-size: 15px; }
    .modal-adrs-book .mng-full-table-row { margin-right: 0; }
    .modal-adrs-book .mng-full-table-row input[type="checkbox"] { margin: 6px 0; }

    .App-control-container .ots-video-control { width: 40px; height: 40px; margin: 0 5px; }
    .App-mask .message.button { padding: 10px 20px; }
    .lt-menu ul li a { padding: 10px 30px 12px 15px; }

    .app-chat-outer-wrap .chat-attach {  bottom: 80px; width: 85px; border-radius: 25px; }
    
    .ots-send-message-box input[type=text] { padding-left: 15px; }

    
    .video-container.small { display: none; }

}

@media only screen and ( max-width: 479px ) {
    .confrnc-box .archive-btn { top: calc(76.5vw * .6); }
    .confrnc-box .add-user-btn { top: calc(76.5vw * .6); right: 12px; }
    

}

/*Media Query css*/

